'.emv':
  'IF':
    'prefix': 'emvif'
    'body': '[EMV IF]($1 = $2)[EMV THEN]$3[EMV /THEN][EMV /IF]'
  'ELSE':
    'prefix': 'emvelse'
    'body': '[EMV ELSE]$1[EMV /ELSE]'
  'DYN':
    'prefix': 'emvdyn'
    'body': '[EMV DYN]$1[EMV /DYN]'
  'CONTENT':
    'prefix': 'emvcontent'
    'body': '[EMV CONTENT]$1[EMV /CONTENT]'
  'INCLUDE':
    'prefix': 'emvinclude'
    'body': '[EMV INCLUDE]$1[EMV /INCLUDE]'
  'LINK':
    'prefix': 'emvdyn'
    'body': '[EMV LINK]$1[EMV /LINK]'
  'FIELD':
    'prefix': 'emvdyn'
    'body': '[EMV FIELD]$1[EMV /FIELD]'
  'TEXTPART':
    'prefix': 'emvtextpart'
    'body': '[EMV TEXTPART]'
  'HTMLPART':
    'prefix': 'emvhtmlpart'
    'body': '[EMV HTMLPART]'
